<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="핏토링은 전문 트레이너와 운동 애호가들이 자신의 경험과 노하우를 공유하여, 사용자들이 합리적인 비용으로 1회성 온/오프라인 피트니스 멘토링을 받을 수 있도록 돕는 서비스입니다"
    />
    <meta name="keywards" content="멘토링, 헬스, 운동, 온라인" />

    <meta property="og:title" content="핏토링 - 피트니스 멘토링 서비스" />
    <meta
      property="og:description"
      content="핏토링은 전문 트레이너와 운동 애호가들이 자신의 경험과 노하우를 공유하여, 사용자들이 합리적인 비용으로 1회성 온/오프라인 피트니스 멘토링을 받을 수 있도록 돕는 서비스입니다"
    />
    <meta
      property="og:image"
      content="https://www.fittoring.com/og-image.png"
    />
    <meta property="og:url" content="https://www.fittoring.com/" />
    <meta property="og:type" content="website" />

    <meta
      name="naver-site-verification"
      content="42d897e130c99bef55e694c2dd9bb7755ddb9302"
    />

    <title>핏토링</title>
    <link rel="icon" href="/favicon-logo.svg" />
    <link rel="canonical" href="https://www.fittoring.com" />

    <link
      rel="preload"
      href="/assets/fonts/Pretendard-Bold.subset.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/assets/fonts/Pretendard-Regular.subset.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css"
    />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=<%= GOOGLE_ANALYTICS_ID %>"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', '<%= GOOGLE_ANALYTICS_ID %>');
    </script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
