<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="핏토링은 전문 트레이너와 운동 애호가들이 자신의 경험과 노하우를 공유하여, 사용자들이 합리적인 비용으로 1회성 온/오프라인 피트니스 멘토링을 받을 수 있도록 돕는 서비스입니다"
    />
    <meta name="keywards" content="멘토링, 헬스, 운동, 온라인" />

    <meta property="og:title" content="핏토링 - 피트니스 멘토링 서비스" />
    <meta
      property="og:description"
      content="핏토링은 전문 트레이너와 운동 애호가들이 자신의 경험과 노하우를 공유하여, 사용자들이 합리적인 비용으로 1회성 온/오프라인 피트니스 멘토링을 받을 수 있도록 돕는 서비스입니다"
    />
    <meta
      property="og:image"
      content="https://www.fittoring.com/og-image.png"
    />
    <meta property="og:url" content="https://www.fittoring.com/" />
    <meta property="og:type" content="website" />

    <meta
      name="naver-site-verification"
      content="42d897e130c99bef55e694c2dd9bb7755ddb9302"
    />

    <title>핏토링</title>
    <link rel="icon" href="/favicon-logo.svg" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="canonical" href="https://www.fittoring.com" />
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link rel="apple-touch-icon" href="/apple-touch-icon-180.png" />

    <noscript
      ><link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css"
    /></noscript>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=<%= GOOGLE_ANALYTICS_ID %>"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', '<%= GOOGLE_ANALYTICS_ID %>');
    </script>
    <script>
      (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.")}var ch=function(){ch.c(arguments)};ch.q=[];ch.c=function(args){ch.q.push(args)};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x)}}if(document.readyState==="complete"){l()}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l)}})();
    </script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
